@import "variable";
@import "Mixin";
%bg-color {
    background-color: map-get($map: $color, $key: one);
}

.ranger {
    @include display(flex, center, center, column);
    @include width-height(60%, 40px);
    position: relative;
    background-color: map-get($map: $color, $key: two);
    @include br-radius(4px);
}

.tooltip {
    position: relative;
    width: 90%;
    & span {
        position: absolute;
        top: -55px;
        @include width-height(30px, 30px);
        color: $initial-color;
        background-color: transparent;
        text-align: center;
        font-size: 0.9rem;
        line-height: 3;
        transform: translateX(-3px) scale(0);
        transform-origin: bottom;
        transition: transform 0.3s ease-in-out;
        &::after {
            position: absolute;
            @include width-height(30px, 30px);
            content: "";
            @extend %bg-color;
            color: $initial-color;
            transform: translateX(-15px) rotate(45deg);
            transform-origin: bottom;
            transition: transform 0.3s ease-in-out;
            border: 3px solid $initial-color;
            left: 0;
            z-index: -1;
            @include br-radius(50% 50% 0 50%);
        }
        &.active {
            transform: translateX(-3px) scale(1);
        }
    }
}

.ranger-bar {
    position: relative;
    display: flex;
    align-items: center;
    @include width-height(90%, 12px);
    background-color: map-get($map: $color, $key: four);
    @include br-radius(8px);
}

.renger-trunk {
    @include width-height(0, 100%);
    @extend %bg-color;
    @include br-radius(8px);
    @include display(flex, flex-start, center);
}

.renger-btn {
    @include width-height(25px, 25px);
    @extend %bg-color;
    border: 4px solid $initial-color;
    @include br-radius(50%);
    cursor: pointer;
    position: absolute;
    left: 0;
}